<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>contacts</title>
	<link rel="stylesheet" href="css/contact.min.css">
</head>

<body>
	{% include 'app/module/_header/_header.html' %}

	<main class="main">
		{% include 'app/module/_top/_top.html' %}

		<div class="map">
			<div class="container">
				<div id="map"></div>
			</div>
		</div>

		<section class="contact">
			<div class="container">
				<div class="contact__inner">
					<div class="contact__info">
						<h3 class="contact__info-title">
							Feel Free Don’t
							Hesitate To
							Contact With Us
						</h3>
						<p class="contact__info-text">
							Lorem ipsum dolor sit amet, consectetur adingn elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo maecnaacnrao cumsan lacus vel
							facilisis.
						</p>
						<ul class="contact__info-list">
							<li class="contact__info-item">
								<a class="contact__info-phone" href="tel:01234567896">+0-123-456-7896</a>
								<a class="contact__info-phone" href="tel:01234567896">+0-123-456-7896</a>
							</li>
							<li class="contact__info-item contact__info-item--location">
								Ranlon Market 789 Road,<br>
								Market Street, Newyork
							</li>
							<li class="contact__info-item contact__info-item--email">
								<a class="contact__info-email" href="mailto:yourmailaddress@gmail.com">yourmailaddress@gmail.com</a>
								<a class="contact__info-email" href="mailto:companymail@gmail.com">companymail@gmail.com</a>
							</li>
						</ul>
					</div>
					<form class="contact__form" action="#">
						<p class="contact__form-title">Contact Form</p>
						<div class="contact__form-box">
							<input class="contact__form-input" type="text" placeholder="Your Name">
							<input class="contact__form-input" type="text" placeholder="Your E-mail Address">
						</div>
						<input class="contact__form-input" type="text" placeholder="Subject">
						<textarea class="contact__form-textarea" placeholder="Message here"></textarea>
						<button class="contact__form-btn" type="submit">SEND MESSAGE</button>
					</form>
				</div>
			</div>
		</section>
	</main>

	{% include 'app/module/_footer/_footer.html' %}

	<script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&v=weekly" async></script>
	<script>
		let map;

		function initMap() {
			map = new google.maps.Map(document.getElementById("map"), {
				center: { lat: 40.71432673364218, lng: -74.01541970269518 },
				zoom: 14,
				styles: [
					{
						"featureType": "water",
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#e9e9e9"
							},
							{
								"lightness": 17
							}
						]
					},
					{
						"featureType": "landscape",
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#f5f5f5"
							},
							{
								"lightness": 20
							}
						]
					},
					{
						"featureType": "road.highway",
						"elementType": "geometry.fill",
						"stylers": [
							{
								"color": "#ffffff"
							},
							{
								"lightness": 17
							}
						]
					},
					{
						"featureType": "road.highway",
						"elementType": "geometry.stroke",
						"stylers": [
							{
								"color": "#ffffff"
							},
							{
								"lightness": 29
							},
							{
								"weight": 0.2
							}
						]
					},
					{
						"featureType": "road.arterial",
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#ffffff"
							},
							{
								"lightness": 18
							}
						]
					},
					{
						"featureType": "road.local",
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#ffffff"
							},
							{
								"lightness": 16
							}
						]
					},
					{
						"featureType": "poi",
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#f5f5f5"
							},
							{
								"lightness": 21
							}
						]
					},
					{
						"featureType": "poi.park",
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#dedede"
							},
							{
								"lightness": 21
							}
						]
					},
					{
						"elementType": "labels.text.stroke",
						"stylers": [
							{
								"visibility": "on"
							},
							{
								"color": "#ffffff"
							},
							{
								"lightness": 16
							}
						]
					},
					{
						"elementType": "labels.text.fill",
						"stylers": [
							{
								"saturation": 36
							},
							{
								"color": "#333333"
							},
							{
								"lightness": 40
							}
						]
					},
					{
						"elementType": "labels.icon",
						"stylers": [
							{
								"visibility": "off"
							}
						]
					},
					{
						"featureType": "transit",
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#f2f2f2"
							},
							{
								"lightness": 19
							}
						]
					},
					{
						"featureType": "administrative",
						"elementType": "geometry.fill",
						"stylers": [
							{
								"color": "#fefefe"
							},
							{
								"lightness": 20
							}
						]
					},
					{
						"featureType": "administrative",
						"elementType": "geometry.stroke",
						"stylers": [
							{
								"color": "#fefefe"
							},
							{
								"lightness": 17
							},
							{
								"weight": 1.2
							}
						]
					}
				]
			});
		}
	</script>
	<script src="js/main.min.js"></script>
</body>

</html>